.#{$namespace}project-footer {
    bottom: 5%;
    position: absolute;
    text-align: center;
    width: 100%;
}


/* -----------------------------------------------------------------------------

  WRAPPER OBJECT
  
----------------------------------------------------------------------------- */

ion-content {
    height: 100% !important;
    .scroll {
        height: 100%;
    }
}


/* -----------------------------------------------------------------------------

  FOOTER OBJECT
  
----------------------------------------------------------------------------- */

.#{$namespace}project-footer {
    .#{$namespace}project-version {
        font-size: 0.9em;
        color: #444;
        margin-top: 2em;
    }
    .row {
        .col {
            h2{
            color: #444;
                
            }
        }
        div {
            font-size: 0.9em;
            color: #444;
        }
    }
}


/* -----------------------------------------------------------------------------

  LOGIN PAGE BODY OBJECT
  
----------------------------------------------------------------------------- */

// .#{$namespace}project-login-background {
//     background: #799e5a;
//     background: -moz-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
//     background: -webkit-gradient(left top, left bottom, color-stop(0%, #799e5a), color-stop(27%, #eda932), color-stop(39%, #eda932), color-stop(57%, #d6cd27), color-stop(70%, #d6cd27), color-stop(100%, #547511));
//     background: -webkit-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
//     background: -o-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
//     background: -ms-linear-gradient(top, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
//     background: linear-gradient(to bottom, #799e5a 0%, #eda932 27%, #eda932 39%, #d6cd27 57%, #d6cd27 70%, #547511 100%);
//     // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#799e5a', endColorstr='#547511', GradientType=0);
//     //     background: #f7a934;
//   }

.#{$namespace}project-input-custom {
    height: 100%;
}

.#{$namespace}project-loginform {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.#{$namespace}project-name {
    color: #444;
    text-align: center;
    padding: 20% 5%;
    font-size: $font-size--xlarge;
    // letter-spacing: 10px;
}
